<h1>All Albums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th>Description</th>
  </tr>

  <% @albums.each do |album| %>
    <tr>
      <td><%= album.name %></td>
      <td><%= album.artist %></td>
      <td><%= album.description %></td>
      <td><%= link_to 'Show', album_path(album) %></td>
      <td><%= link_to 'Edit', edit_album_path(album) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New album', new_albums_path %>
